<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.4.0" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.4" targetFramework="net472" />
  <package id="Syncfusion.Core.WinForms" version="28.2.5" targetFramework="net472" />
  <package id="Syncfusion.Data.WinForms" version="28.2.5" targetFramework="net472" />
  <package id="Syncfusion.DataSource.WinForms" version="28.2.5" targetFramework="net472" />
  <package id="Syncfusion.Grid.Windows" version="28.2.5" targetFramework="net472" />
  <package id="Syncfusion.GridCommon.WinForms" version="28.2.5" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="28.2.5" targetFramework="net472" />
  <package id="Syncfusion.SfDataGrid.WinForms" version="28.2.5" targetFramework="net472" />
  <package id="Syncfusion.SfInput.WinForms" version="28.2.5" targetFramework="net472" />
  <package id="Syncfusion.SfListView.WinForms" version="28.2.5" targetFramework="net472" />
  <package id="Syncfusion.Shared.Base" version="28.2.5" targetFramework="net472" />
  <package id="Syncfusion.Shared.Windows" version="28.2.5" targetFramework="net472" />
</packages>