<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>
		<!-- Logger -->
		<add key="LoggerType" value="database"/>
		<add key="LogFilePath" value=".\Logs\app.log"/>
		<add key="PathLogError" value=".\Logs\error.log"/>
		<add key="PathLogInfo" value=".\Logs\info.log"/>

		<!-- Idioma (rutas relativas a la carpeta donde está el .exe) -->
		<add key="IdiomaPath" value="..\l18n"/>
		<add key="UserIdiomaConfigPath" value="..\Logs\user_language.config" />
		<add key="Idioma" value="es-ES"/>
		<add key="BackendType" value="1"/>

		<!-- Backups (dejar paths válidos para SQL Server Express) -->
		<add key="BackupPath1" value="C:\SQLBackupTemp\"/>
		<add key="BackupPath2" value="D:\SQLBackupTemp\"/>
		<add key="BackupPath3" value="E:\SQLBackupTemp\"/>

		<!-- Nombres de las bases de datos -->
		<add key="Database1Name" value="DistribuidoraLosAmigos"/>
		<add key="Database2Name" value="Login"/>
		<add key="Database3Name" value="Bitacora"/>

		<!-- Manuales de ayuda (rutas relativas a la app) -->
		<add key="HelpFilePath_es-ES" value="..\help_es.chm"/>
		<add key="HelpFilePath_en-US" value="..\help_en.chm"/>
		<add key="HelpFilePath_Default" value="..\help_en.chm"/>
	</appSettings>

	<connectionStrings>
		<!-- Conexión final usando SQL Express local -->
		<add name="MiConexion"
			 connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DistribuidoraLosAmigos;Integrated Security=True;"
			 providerName="System.Data.SqlClient"/>

		<add name="LogDatabase"
			 connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Bitacora;Integrated Security=True;"
			 providerName="System.Data.SqlClient"/>

		<add name="MiConexion2"
			 connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Login;Integrated Security=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-31.2462.12.0" newVersion="31.2462.12.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>