<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!-- Logger -->
		<add key="LoggerType" value="database"/>
		<add key="LogFilePath" value="C:\Logs\app.log"/>
		<add key="PathLogError" value="C:\Logs\error.log"/>
		<add key="PathLogInfo" value="C:\Logs\info.log"/>

		<!-- Idioma -->
		<add key="IdiomaPath" value="C:\Mac\Home\Documents\ProyectoFinal_Diploma\Distribuidora_los_amigos\Distribuidora_los_amigos\l18n"/>
		<add key="UserIdiomaConfigPath" value="C:\Logs\user_language.config" />
		<add key="Idioma" value="es-ES"/>
		<add key="BackendType" value="1"/>
		
		<!-- Backups -->
		<!-- Backups - Usar rutas accesibles por SQL Server -->
		<add key="BackupPath1" value="C:\SQLBackupTemp\"/>
		<add key="BackupPath2" value="D:\SQLBackupTemp\"/>
		<add key="BackupPath3" value="E:\SQLBackupTemp\"/>
		
		<!-- ✅ Agregar nombres de bases de datos -->
		<add key="Database1Name" value="DistribuidoraLosAmigos"/>
		<add key="Database2Name" value="Login"/>
		<add key="Database3Name" value="Bitacora"/>

		<!-- Manuales de ayuda -->
		<add key="HelpFilePath_es-ES" value="C:\Mac\Home\Documents\ProyectoFinal_Diploma\Distribuidora_los_amigos\Manual\help_es.chm"/>
		<add key="HelpFilePath_en-US" value="C:\DistribuidoraLosAmigos\Manual\help_us.chm"/>
		<add key="HelpFilePath_Default" value="C:\DistribuidoraLosAmigos\Manual\help_en.chm"/>
	</appSettings>

	<connectionStrings>
		<add name="MiConexion"
         connectionString="Data Source=192.168.0.111,1433;Initial Catalog=DistribuidoraLosAmigos;User ID=sa;Password=Neron2484!;"
         providerName="System.Data.SqlClient"/>
		<add name="LogDatabase"
         connectionString="Data Source=192.168.0.111,1433;Initial Catalog=Bitacora;User ID=sa;Password=Neron2484!;"
         providerName="System.Data.SqlClient"/>
		<add name="MiConexion2"
			 connectionString="Data Source=192.168.0.111,1433;Initial Catalog=Login;User ID=sa;Password=Neron2484!;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>